<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="card shadow border-0">
                <div class="card-body">
                  <div class=" container row">
                    <h3>Faites votre recherche</h3>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                          <label>Pays</label>
                          <input type="text" placeholder="Dans quel pays?" class="form-control">
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <label>Type de bien</label>
                      <div class="row">
                        <div class="col-lg-4 col-md-4">
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Appartement</label>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Chambre</label>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Terrains</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Ville</label>
                        <input type="text" placeholder="Dans quel ville ?" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col">
                          <label>Prix Max</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col">
                          <label>Prix Max</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-12">
                      <button class="btn btn-block btn-primary btn-lg">Recherche</button>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    
  </div>
  <!--
  
  1st Hero Variation -->
</main>
